:root{
    --color-bolder: #17252add;
    --color-bold: #2B7A78;
    --color-medium: #3AAFA9;
    --color-light: #DEF2F1;
    --color-lighter: #ffffffc6;
}

/* خودم اولی و آخری رو کمرنگ تر کردم ... */